<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="get">
        <input type="text" name="nome" placeholder="Nome do personagem" value="{{ nome|default:'' }}">
        <button type="submit">Buscar</button>
    </form>

    {% if erro %}
        <p style="color:red">{{ erro }}</p>
    {% endif %}

    {% if info %}
        <ul>
            {% for item in info %}
                <li>
                    <strong>{{ item.name }}</strong> (ID: {{ item.id }}) — {{ item.status }}, {{ item.species }}
                    <br>Gênero: {{ item.gender }}
                    <br><img src="{{ item.image }}" width="100">

                    <form method="post" action="{% url 'favoritar-personagem' %}">
                        {% csrf_token %}
                        <input type="hidden" name="id_externo" value="{{ item.id }}">
                        <input type="hidden" name="name" value="{{ item.name }}">
                        <input type="hidden" name="status" value="{{ item.status }}">
                        <input type="hidden" name="species" value="{{ item.species }}">
                        <input type="hidden" name="type" value="{{ item.type }}">
                        <input type="hidden" name="gender" value="{{ item.gender }}">
                        <input type="hidden" name="image" value="{{ item.image }}">
                        <button type="submit">Favoritar</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
